<html>
  <head>
    <!--
      required editor styles
    -->
    <link rel="stylesheet" href="../styles/formjs/formjs.css">
    <link rel="stylesheet" href="../styles/formjs/formjs-editor.css">
    <link rel="stylesheet" href="../styles/fontawesome/css/all.min.css" rel="stylesheet" />

    <style>
      body, html {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      #form {
        max-width: 100%;
      }
      
      .fjs-container .fjs-powered-by{
        height: 0px;
        width: 0px;
      }  


    </style>
  </head>

  <body>
    <!-- div class="io-import-export">

      <ul class="io-import io-control io-control-list io-horizontal">
        <li>
          <button title="Open form from local file system" jsaction="click:bio.openLocal">
            <span class="icon-open"></span>
          </button>
        </li>
        <li class="vr"></li>
        <li>
          <button title="Create new form" jsaction="click:bio.createNew">
            <span class="icon-plus-circled"></span>
          </button>
        </li>
      </ul>
  
      <ul class="io-export io-control io-control-list io-horizontal">
        <li>
          <button title="Download form" jsaction="click:bio.download">
            <span class="icon-download"></span>
          </button>
        </li>
        <li class="vr"></li>
        <li>
          <button title="Download form" id="formjs-save">
            <span class="icon-download"></span>
          </button>
        </li>
      </ul>
    </div -->
    <div id="form"></div>

    <!--
      add your form schema to this script tag
      alternatively, load it asynchronously from anywhere
    -->
    <script type="application/form-schema">
      {
        "schemaVersion": 1,
        "exporter": {
          "name": "form-js",
          "version": "0.1.0"
        },
        "components": [
        ],
        "type": "default"
      }
    </script>

    <!--
      required editor script
    -->
    <script src="../scripts/formjs/form-editor.umd.js"></script>
    <!--script src="https://unpkg.com/@bpmn-io/form-js@1.5.0/dist/form-editor.umd.js"></script-->
    <script>
      var formeditor
      document.addEventListener('DOMContentLoaded', function() {
        var schema = JSON.parse(
          document.querySelector('[type="application/form-schema"]').innerText
        );
       /* var str =  `{
        "schemaVersion": 1,
        "exporter": {
          "name": "form-js",
          "version": "0.1.0"
        },
        "components": [
        ],
        "type": "default"
      }`

        schema = JSON.parse(str);  */
        const container = document.querySelector('#form');
 
        //formeditor = new FormEditor({}) 
        formeditor = FormEditor.createFormEditor({
          container,
          schema
        });

        formeditor.then((obj) => {
          var sendmessage = {
            type: 'formeditorready'
          }

          window.parent.postMessage(sendmessage, "*");

        }).catch((error) => {console.log(error)})

        

    /*    document.querySelector('#formjs-save').addEventListener('click', function() {
            formeditor.then((obj) => {
                var schemasa = obj["_state"]["schema"]
                console.log(schemasa)
                window.parent.postMessage(schemasa, "*");
            }).catch((error) => {console.log(error)})
        });  */

        window.addEventListener("message", handleparentmessage, false);
      });

      
      
      function handleparentmessage(event){
        console.log(event)
        if (event.data) {
          const message = event.data;
          if (message.type === 'importschema'){
            var schema = message.data;
            console.log(schema)
            formeditor.then((obj) => {
              obj.importSchema(schema);
            }).catch((error) => {console.log(error)})
          }else if(message.type === 'saveschema'){
            formeditor.then((obj) => {
                var schemasa = obj["_state"]["schema"]
                console.log(schemasa)
                var sendmessage = {
                  type: 'saveschemafromformjs',
                  data: schemasa
                }
                window.parent.postMessage(sendmessage, "*");
            }).catch((error) => {console.log(error)})
          }
        }
      }

      document.addEventListener("beforeunload", function(event) {
        window.removeEventListener("message", handleparentmessage);
      }, false);
    </script>
  </body>
</html>